<h2>Agregar Producto</h2>
<form action="/api/productos" method="POST">
    Nombre:<input type="text" name="title" />
    Precio:<input type="text" name="price" />
    Foto URL:<input type="text" name="thumbnail" />
    <button>Enviar</button>
</form>