<h2>Agregar Producto</h2>
<form id="myForm">
    Nombre:<input type="text" name="title" id="title" />
    Precio:<input type="text" name="price" id="price" />
    Foto URL:<input type="text" name="thumbnail" id="thumbnail" />
    <button type="submit">Enviar</button>
</form>

<script>

    class Products {
        //Constructor clase Productos.
        constructor(id, title, price, thumbnail) {
            this.id = id;
            this.title = title;
            this.price = price;
            this.thumbnail = thumbnail;
        }
    }

    const socket = io();

    const myForm = document.getElementById("myForm");

    myForm.addEventListener("submit", function (e) {

        e.preventDefault();

        const params = new URLSearchParams();

        for (const pair of new FormData(this)) {
            params.append(pair[0], pair[1]);
        }

        const product = new Products()

        product.title = params.get("title");
        product.price = params.get("price");
        product.thumbnail = params.get("thumbnail");

        socket.emit("newProduct", product);

    });
</script>