<h1 style="color: red">Productos</h1>
<% if(products != null && products.length > 0) {%>
    <table class="table">
        <tr style="color: black">
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto URL</th>
        </tr>
        <% products.forEach(product=>{ %>
            <tr>
                <td>
                    <%= product.title %>
                </td>
                <td>
                    <%= product.price %>
                </td>
                <td>
                    <%= product.thumbnail %>
                </td>
            </tr>
            <% }) %>
    </table>
    <% } else { %>
        <h2 style="color: blueviolet">No se encontraron datos</h2>
    <% } %>