<h1 style="color: red">Productos</h1>
<table class="table">
    <thead>
        <tr style="color: black">
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto URL</th>
        </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>

<script>
    const tbody = document.querySelector("#tbody")

    socket.on('products', (products) => {
        if (products.length === 0) {
            return;
        }
        tbody.innerHTML = products.map(product => {
            return (
                `<tr>
                    <td>
                        ${product.title}
                    </td>
                    <td>
                        ${product.price}
                    </td>
                    <td>
                        ${product.thumbnail}
                    </td>
                </tr>`
            )
        }).join(" ")
    })

</script>